<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Welcome to Bulletin Board, <%= @email.name %>
      
      <p>
        your username is: <%= @email.name%>
      </p>
      
      <p>
         Click the Link and reset Password <br>
         <%= @url %>.
      </p>
      
      <p>Thanks for joining and have a great day!</p>
      
   </body>
</html>